.hero {
    position: relative;
    padding: 300px 0;
    background: linear-gradient(135deg, rgba(25, 16, 26, 0.644) 0%, rgba(38, 16, 41, 0.801) 100%), 
                url('/images/background-principal.jpeg') no-repeat; 
    background-size: cover;
    background-attachment: fixed; 
    text-align: center;
    color: white;
    overflow: hidden;
}

.secao-produtos-container {
background-color: #af0bcc;
    padding: 80px 0;
}

.secao-produtos-container .titulo-secao {
    color: #e4e4e4;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    
}

.secao-produtos-container .subtitulo-secao {
    color: #cccccc;
    opacity: 1;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}
.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    line-height: 1.2;
    box-shadow:#141414;
}

.hero h1 span {
    color: #af0bcc;
}

.hero p {
    font-size: 1.2rem;
    max-width: 700px;
    margin: 0 auto 30px;
}

/* Título das Seções */
.titulo-secao {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 10px;
}

.subtitulo-secao {
    text-align: center;
    margin-bottom: 50px;
    opacity: 0.8;
    color: white;
}

/* GRID DE PRODUTOS */
.produtos-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 30px;
}

/* Card do Produto */
.card-produto {
    background: white;
    border-radius: 3.5px;
    overflow: hidden;
    border: 1px solid #e5e7eb;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-produto:hover {
    transform: translateY(-5px);
    /* Levanta o card */
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.425);
    /* Sombra roxa suave */
    border-color: var(--cor-primaria-claro);
     
}

/* Área da Imagem/Ícone */
.card-img-area {
    height: 200px;
    background-color: #5c3265ea;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.card-produto:hover .card-img-area {
    background-color: #ed88ff;
}

.card-img-area i {
    font-size: 4rem;
    color: #3c3f44;
    /* Cinza claro */
    transition: 0.3s;
}

.card-produto:hover .card-img-area i {
    color: #141414;
    transform: scale(1.1);
}

/* Conteúdo do Card */
.card-body {
    padding: 24px;
    text-align: center;
    flex-grow: 1;
    /* Empurra o botão para baixo se o texto for curto */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-body h3 {
    font-size: 1.3rem;
    margin-bottom: 8px;
    color: #41005a;
}

.ver-mais {
    color: var(--cor-primaria);
    font-weight: 600;
    font-size: 0.9rem;
    margin-top: 15px;
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

.ver-mais i {
    transition: 0.3s;
}

.card-produto:hover .ver-mais i {
    transform: translateX(5px);
}

/* Responsividade */
@media (max-width: 768px) {
    .hero h1 {
        font-size: 2.2rem;
    }
    .produtos-grid {
        grid-template-columns: 1fr; /* 1 coluna no celular */
    }
    nav ul {
        display: none;
    }

}